.body{
    background-color: #f0f2f5;
}

.content{
    border: 1px solid rgb(254, 254, 254);
    box-shadow: 10px;
    border-radius: 10px;
    background-color: white;
   
}
.below-line{
     padding: 15px 15px 15px 15px;
}
.top-paragraph{
    border-bottom: 1px solid;
}
.input1{
    width: 187px;
}
.dob-input{
    display:flex;
}
.input2{
    width: 125px;
}
.input3{
border: 1px solid black;
width: 122px;
display: inline-block;
border-radius: 3px;
padding-left: 8px;
padding-right: 8px;
}
.bottom-paragraph{
    font-size: 12px;
}